/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.section{
    padding: 4rem 0 2rem;
}

.section__title{
    font-size: var(--bigger-font-size);
    text-align: center;
    margin-bottom: var(--mb-2-5);
}

.section__title-gradient{
    background: var(--text-gradient);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

/*======= LAYOUT =======*/
.main{
    overflow: hidden;
}

.container{
    max-width: 968px;
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5);
    display: grid;
}

.main_title{
    font-size: var(--biggest-font-size);
    text-align: center;
}


/*======= FINANTIAL LOSS MAP =======*/
.finantial_loss__title{
    font-size: var(--big-font-size);
    background: var(--text-gradient);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    
}

.finantial_loss__slider {
    width: 400px;
    height: 15px;
    -webkit-appearance: none;
    background: #232323;
    outline: none;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 1);
  }

.finantial_loss__slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #888a88;
    cursor: pointer;
    border: 4px solid #333;
    box-shadow: -407px 0 0 400px #888a88;
}
  

.barchart_attaks__title{
    font-size: var(--big-font-size);
    background: var(--text-gradient);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    
}